@model CourseViewModel

@{
    ViewData["Title"] = "Course";
}

<div class="row small-bottom-margin">
    <div class="col-sm-12">
        <a class="btn btn-primary no-border-radius no-left-padding" asp-action="Dashboard">
            <i class="material-icons vertical-align no-left-margin">keyboard_arrow_left</i><span class="vertical-align">Back to Dashboard</span>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card no-border-radius">
            <div class="marquee" style="background-image:url('@Model.Course.MarqueeImageUrl');">
                <img src="@Model.Course.CourseImageUrl">
            </div>
            <div class="card-body">
                <h1 class="card-title">@Model.Course.CourseTitle</h1>
                <h4 class="card-text">
                    @Model.Course.CourseDescription
                </h4>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-9">
        @*Add modules here*@
        @foreach (var module in Model.Modules)
        {
            <div class="card small-top-margin no-border-radius">
                <div class="card-body">
                    <h5>@module.ModuleTitle</h5>
                </div>
                <hr class="no-margin">
                @if (module.Videos != null && module.Videos.Count > 0)
                {
                    <partial name="_ModuleVideosPartial" model="@module.Videos" />
                }

                @if (module.Downloads != null && module.Downloads.Count > 0)
                {
                    <hr class="no-margin">
                    <div class="card-body no-bottom-padding">
                        <h5>Downloads</h5>
                    </div>
                    <div class="card-body no-top-padding">
                        <partial name="_ModuleDownloadsPartial" model="@module.Downloads" />
                    </div>
                }
            </div>
        }
    </div>
    <div class="col-md-3">
        @*Add instructor bio here*@
        @if (Model.Instructor != null)
        {
            <partial name="_InstructorBioPartial" model="@Model.Instructor" />
        }
    </div>
</div>
