@page
@model DeleteModel
@inject SignInManager<VODUser> SignInManager
@{
    ViewData["Title"] = "Delete Course";
    var description = Model.Input.Description.Truncate(100);
}

@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1>@ViewData["Title"]</h1>
            <partial name="_DeletePageButtons" model="@Model.Input.ButtonDTO" />
            <hr />
            <dl class="dl-horizontal">
                <dt>@Html.DisplayNameFor(model => model.Input.Title)</dt>
                <dd>@Html.DisplayFor(model => model.Input.Title)</dd>
                <dt>@Html.DisplayNameFor(model => model.Input.Description)</dt>
                <dd>@Html.DisplayFor(model => description)</dd>
                <dt>@Html.DisplayNameFor(model => model.Input.ImageUrl)</dt>
                <dd>@Html.DisplayFor(model => model.Input.ImageUrl)</dd>
                <dt>@Html.DisplayNameFor(model => model.Input.MarqueeImageUrl)</dt>
                <dd>@Html.DisplayFor(model => model.Input.MarqueeImageUrl)</dd>
                <dt>@Html.DisplayNameFor(model => model.Input.Instructor)</dt>
                <dd>@Html.DisplayFor(model => model.Input.Instructor)</dd>
            </dl>

            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input type="hidden" asp-for="Input.Id" />
                <input type="hidden" asp-for="Input.Title" />

                <button type="submit" class="btn btn-danger">Delete </button>
            </form>

        </div>
    </div>
}

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

