@model CardViewModel

<a href="@Model.Url" class="card" style="background-color: @Model.BackgroundColor">
    <div class="card-content">
        <div class="card-data">
            <h3>@Model.Count</h3>
            <p>@Model.Description</p>
        </div>
        <span class="material-icons card-icon">
            @Model.Icon.ToLower()
        </span>
    </div>
</a>